extends layout

block content
  h1 Members
  table(class="table table-hover")
    thead
      th #
      th Name
      th mobile
      th amazon@
      th Block
      th Floor
    tbody
      each member in members
        tr
          td= member.id
          td= member.name
          td= member.mobile
          td= member.amazon
          td= member.block
          td= member.floor
    tfooter
      th #
      th Name
      th mobile
      th amazon@
      th Block
      th Floor
